<header class="main-header">
    <!-- Logo -->
    <a ui-sref="home" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>QR</b>E</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>QR</b>Emargement</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu" ng-controller="AuthCtrl as auth">
            <ul class="nav navbar-nav" ng-if="application.connected">
                <li>
                    <a ng-click="auth.teacherLogout()">
                        <i class="fa fa-sign-out"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>