<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <form action ="" role="form">
        <div class="form-group">
            <label for="number">Numéro étudiant</label>
            <input type="text" class="form-control" id="number" ng-model="studentCtrl.newStudent.num_etu">
        </div>
        <div class="form-group">
            <label for="lastname">Nom</label>
            <input type="text" class="form-control" id="lastname" ng-model="studentCtrl.newStudent.nom">
        </div>
        <div class="form-group">
            <label for="firstname">Prénom</label>
            <input type="text" class="form-control" id="firstname" ng-model="studentCtrl.newStudent.prenom">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" ng-model="studentCtrl.newStudent.email">
        </div>
        <button type="button" class="btn btn-success" ng-click="studentCtrl.createStudent()">Créer</button>
    </form>
    </div>
</div>
