<div class="row" ng-init="student.getStudents()">
    <div class="col-md-8 col-md-offset-2">
        <table class="table">
            <thead>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Identifiant</th>
                <th>Actions</th>
            </thead>
            <tbody ng-repeat="stud in student.students">
                <tr>
                    <td>{{stud.nom}}</td>
                    <td>{{stud.prenom}}</td>
                    <td>{{stud.num_etu}}</td>
                    <td><a class="btn btn-small btn-danger" href="#" role="button" ng-click="student.removeStudent(stud.id)"><i class="glyphicon glyphicon-remove-sign"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>