<div class="row" ng-init="emargement.getEmargements()">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <th>Matière</th>
                <th>Type</th>
                <th>Date</th>
                <th>URL</th>
            </thead>
            <tbody ng-repeat="emar in emargement.emargements">
            <tr>
                <td class="col-md-2">{{emar.matiere}}</td>
                <td class="col-md-2">{{emar.type}}</td>
                <td class="col-md-2">{{emar.date | date : 'dd/MM/yyyy @ HH:mm'}}</td>
                <td class="col-md-2">{{emar.url_generated}}</td>
                <td class="col-md-4">
                    <a class="btn btn-small btn-primary" href="#" role="button" ui-sref="emargement.actual({emargementid: emar.id})"><i class="fa fa-calendar"></i></a>
                    <a class="btn btn-small btn-danger" href="#" role="button" ng-click=""><i class="fa fa-trash"></i></a>
                    <a class="btn btn-small btn-warning" href="#" role="button" ng-click=""><i class="fa fa-pencil-square-o"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>