<div>
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12" ng-init="lesson.getQRCodeURL(1)">
                    <qrcode data="{{lesson.qrCodeUrl}}" size="300"></qrcode>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" data-ng-init="lesson.getNbSignatures()">
                    <canvas class="chart chart-pie" chart-data="lesson.nbSignatures" chart-labels="lesson.nbSignaturesLabels">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            
        </div>
    </div>
</div>